/* Table and Mobile  */
@media (max-width:64em) {


.btn {
    padding: 14px 16px;
}

.contact-form .form-control {
    padding: 15px;
}
#footer .social-list {
    font-size: 30px;
}
#footer .social-list a {
    padding: 8px;
}
#footer .copyright a {

    padding: 12px 0;
    display: inline-block;
}

#nav .subnav a {
    
    padding: 5px 12px;
}
}

/* Table  */
@media (min-width:46.25em) and (max-width:63.9375em){
#content .contact-info {
    line-height: 2;
}

}
/* Mobile  */
@media (max-width:46.25em) {

.s-full-width,
.s-col-full {
    width: 100%;
}
.s-mt-8 {
    margin-top: 8px!important;
}
#header {
        overflow: hidden;
}
#header .mobile-menu-btn {
        display: block;
}
#header .search-btn {
        display: none;
}

#nav {
    display: block;
}

#nav .subnav {
    position: initial;
    background-color: #000;
}
#nav .subnav a {
    color: #fff;
    padding: 5px 41px;
}

#nav li {
    display: block;
    
}
#nav li a {
    padding: 1px 24px;
}
#nav >li:first-child {
    display: inline-block;
}

#content .member-item {
    width: 100%;
    margin-top: 30px;
}

#content .member-img {
    width: 60%;
}


#contact .contact-form {
    margin-top: 16px;
}

#content .contact-info {
    line-height: 2;
    margin-top: 32px;
}

}